@page
@model OnlineBookStore.Pages.Book.BookModel

<link rel="stylesheet" type="text/css" href="~/css/Book/book.css" />
<script src="~/js/modal.js"></script>
<script src="~/js/confirmDelete.js"></script>

@{
	ViewData["ModalTitle"] = "Add Book";
}

<div class="book-container">
	<div class="title">
		<h2>Book</h2>

		<div class="mid">
			<div></div>
			<input type="text" id="searchInput" placeholder="Search by name..." class="form-control" />
		</div>

		<div class="add-book">
			<button type="button" class="open-modal">Add Book</button>
		</div>
	</div>

	<div class="book-table">
		<table class="table">
			<thead>
				<tr>
					<th hidden>Book Id</th>
					<th>Book Name</th>
					<th>Category</th>
					<th>Quantity</th>
					<th>Price</th>
					<th>Actions</th>
				</tr>
			</thead>

			<tbody>
				@if (Model.Books != null && Model.Books.Any())
				{
					@foreach (var book in Model.Books)
					{
						<tr>
							<td hidden>@book.BookId</td>
							<td>@book.BookTitle</td>
							<td>@book.Category</td>
							<td>@book.Quantity</td>
							<td>@book.Rate</td>
							<td>
								<button type="button" class="btn btn-secondary">Edit</button>
								<button type="button" asp-page-handler="Delete" class="btn btn-danger del-butn"
										data-id="@book.BookId"
										data-name="@book.BookTitle">
									Delete
								</button>
							</td>
						</tr>
					}
				}
				else
				{
					<tr class="empty">
						<td colspan="5">No Books found</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>

<!--Modal-->
<div id="modal" class="modal" draggable="true">
	<div class="modal-content">
		<!-- Include Header-->
		@await Html.PartialAsync("../Shared/_ModalHeader.cshtml")

		<!-- Modal Body (Input Fields) -->
		<div class="modal-body">
			<form method="post" class="new-book-form">
				<div class="input-group">
					<div>
						<label for="bookName">Book Name</label>
						<input type="text" asp-for="Book.BookTitle" id="bookName" class="input-field" placeholder="Enter book name" required />
					</div>

					<div>
						<label for="quantity">Quantity</label>
						<input type="text" asp-for="Book.Quantity" id="quantity" class="input-field" placeholder="Enter quantity" required />
					</div>

					<div>
						<label for="rate">Rate</label>
						<input type="text" asp-for="Book.Rate" id="rate" class="input-field" placeholder="Enter rate" required />
					</div>

					<div>
						<label for="category">Category</label>
						<select id="category" asp-for="Book.Category">
							<option value="IT">IT</option>
							<option value="History">History</option>
							<option value="Science">Science</option>
						</select>
					</div>

					<div>
						<label for="description">Description</label>
						<input type="text" asp-for="Book.Description" id="description" class="input-field" placeholder="Enter description" />
					</div>
				</div>
			</form>

		</div>

		<!-- Include Footer -->
		@await Html.PartialAsync("../Shared/_ModalFooter.cshtml")
	</div>
</div>

@await Html.PartialAsync("../Shared/_ConfirmDelete.cshtml")

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}

	<script>
		var searchInput = document.getElementById("searchInput");

		searchInput.addEventListener("keyup", function () {
			const filter = this.value.toLowerCase();
			document.querySelectorAll(".book-table tbody tr").forEach(row => {
				const name = row.querySelectorAll("td")[1].textContent.toLowerCase();
				row.style.display = name.includes(filter) ? "" : "none";
			});
		});
	</script>
}